@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background: v.$primario;
    color: black;
    /* color del texto seleccionado */
}

body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$negro;
    font-size: 2rem;

    &.overflow-hidden {
        overflow: hidden;
    }
}

p {
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    @include m.tablet{
        font-size: 6rem;
    }
}

h2 {
    font-size: 2.6rem;
    @include m.tablet{
        font-size: 5rem;
    }
}

h3 {
    font-size: 2.4rem;
    @include m.tablet{
        font-size: 3rem;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

body>section {
    padding: 10rem 0;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 0;
}

.contenido {
    width: 100%;
    height: 100rem;
    background-color: grey;
    border-radius: 4rem;
}



 