@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$grisOscuro;
    width: 100%;
    margin: 0 auto;
}
.footer-flex{
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        padding: 2rem 0;
    }
}
.logo-footer{
    width: 12rem;
    flex: 1;
    margin: 0 auto;
    padding: 1rem 0;

    @include m.tablet{
        width: 20rem;
    }
}
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .float {
    animation: float 3s ease-in-out infinite;
  }


.footer-info{
    display: flex;
    flex-direction: column;
    flex: 4;
}
.footer-top{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid v.$gris;
    padding: 2rem 0;

    @include m.tablet{
        width: 100%;
        flex-direction: row;
    }
}

.academia{
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
    @include m.tablet{
        flex-direction: row;
    }
}
.copy{
    color: v.$gris;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    text-wrap: balance;

    @include m.tablet{
        text-align: left;
        text-wrap: nowrap;
    }
}
.footer-bot{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    row-gap: 2rem;

    @include m.tablet{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
}
.copyright{
    color: v.$blanco;
    margin: 0;
    text-align: center;
    text-wrap: balance;

    @include m.tablet{
        text-wrap: nowrap;
        text-align: left;
    }
}
.madeby{
    width: 20rem;
    margin: 0 auto;
    @include m.tablet{
        margin: 0;
    }
}
