@use 'base/variables' as v;
@use 'base/mixins' as m;

// Header
.header {
  width: 100%;
  position: relative;
  z-index: 100;
}

.header-contenido{
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  @include m.tablet{
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  }
}

.headerL {
  flex: 1;
  margin: 1rem 0;

  .logo {
    width: auto;
    height: 70px;
    margin: 0 auto;

    @include m.tablet{
      margin: 0;
    }
  }
}

.headerR {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  @include m.tablet{
    justify-content: flex-end;
    margin: 0 auto;
    column-gap: 2rem;
  }

}

.redes {
  display: flex;
  gap: 2rem;

  a {
    font-size: 3rem;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    @include m.tablet{
      font-size: 2.4rem;
    }

    &:hover {
      transform: scale(1.2);
      color: v.$primario;
    }
  }
}