@use 'base/variables' as v;
@use 'base/mixins' as m;

// Hero Section
.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;

  @include m.tablet {
    height: 100vh;
  }
}

// Video Background
.video-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

// Overlay
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

// Contenido Hero
.contenido-hero {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .titulo-container {
    text-align: left;

    h1,
    h2 {
      color: v.$blanco;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;

      @include m.tablet {
        font-size: 10rem;
      }
      @include m.xl {
        font-size: 12rem;
      }
    }

    h1 {
      font-family: 'Horizon', sans-serif;
    }

    h2 {
      font-family: 'Horizon Outlined', sans-serif;
    }

    .copy {
      font-size: 1.6rem;
      color: v.$gris;
      max-width: 600px;
      font-family: v.$fuente_principal;
      text-transform: uppercase;
      text-wrap: balance;
      text-align: left;
    }
  }
}



.promo-banner {
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
    z-index: 10;
    background-color: #000000;
}

.promo-track {
    display: flex;
    white-space: nowrap;
}

.promo-content {
    display: flex;
    align-items: center;
    gap: 30px;
    animation: scroll 20s linear infinite;
}

span {
    font-size: 1.4rem;
    color: #ffffff;
}

.separator {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}