@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-podcast {
  background: v.$negro;
  color: v.$blanco;
  text-align: center;
  padding: 6rem 2rem;

  @include m.tablet {
    padding: 8rem 0;
  }

  .sp-title {
    margin-bottom: 20px;
    font-family: 'Horizon', sans-serif;
    text-transform: uppercase;
  }

  .sp-description {
    max-width: 768px;
    margin: 2rem auto;
    color: v.$gris;
    line-height: 1.5;
    text-wrap: balance;
    text-transform: uppercase;
  }

  .separador {
    width: 8rem;
    height: 2px;
    background-color: v.$gris;
    margin: 0 auto;
  }

  // Si el navegador soporta WebP
  .webp .sp-parallax {
    background-image: url('/src/img/parallax.webp');
  }

  // Si NO soporta WebP (fallback JPG/PNG)
  .no-webp .sp-parallax {
    background-image: url('/src/img/parallax.png');
  }

  .sp-parallax {
    width: 100%;
    height: 6rem;
    margin: 4rem 0;
    background: url('/src/img/parallax.webp') center/contain no-repeat;
    background-attachment: fixed;

    @include m.tablet {
      height: 24rem;
      margin: 8rem 0;
    }
  }

  .sp-stats {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @include m.tablet {
      width: 100%;
      max-width: 144rem;
      flex-direction: row;
    }
  }

  .sp-stat {
    text-transform: uppercase;
    margin: 0 auto;

    @include m.tablet {
      width: 28%;
    }

    .sp-stat-top {
      color: v.$primario;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }

    .sp-number {
      font-size: 5rem;
      margin-bottom: 12px;
      color: v.$blanco;

      @include m.tablet {
        font-size: 6rem;
      }
    }

    .sp-stat-bottom {
      line-height: 1.4;
      letter-spacing: .5px;
      color: grey;
    }
  }
}

@media (max-width: 800px) {
  .sobre-podcast .sp-parallax {
    height: 200px;
  }

  .sobre-podcast .sp-number {
    font-size: 48px;
  }
}