@use 'base/variables' as v;
@use 'base/mixins' as m;

/* POPUP */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 999;
  
}

.popup-content {
  position: relative;
  border-radius: 4rem 0 4rem 0;
  overflow: hidden;
  display: flex;
  padding: 4rem 2rem;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
  background-color: #111;
  isolation: isolate;
  @include m.tablet{
    gap: 6rem;
    padding: 3rem;
  }
}

.popup-content::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url('/src/img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity:0.1;
}

.popup-left, .popup-right {
  flex: 1;
}
.popup-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-left h3{
  font-family: 'Horizon', sans-serif;
  margin: 0;
}
.popup-left p{
  color: grey;
  font-size: 1.6rem;
}
.popup-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  @include m.tablet{
    justify-content: space-between;
  }
}

/* VIDEO */
.youtube-video iframe {
  width: 100%;
  height: 18rem;
  border-radius: 1rem;
  @include m.tablet{
    height: 25rem;
  }
}
.audio{
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .popup-content {
    flex-direction: column;
  }
}